@import "assets/css/fonts.css";
a {
  text-decoration: none;
}
:focus {
  outline: none;
}
.site-wrapper {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}
.site-wrapper .sidebar {
  width: 272px;
  padding: 17px;
  flex-shrink: 0;
  background: #1a2237;
}
.site-wrapper .sidebar .navbar .navbar-brand {
  margin: 20px auto 0 auto;
}
.site-wrapper .sidebar .navbar .navbar-brand img {
  width: 200px;
  height: 70px;
  object-fit: contain;
}
.site-wrapper .sidebar .navbar .navbar-nav {
  margin-top: 20px;
}
.site-wrapper .sidebar .navbar .navbar-nav .nav-item .nav-link {
  gap: 8px;
  height: 55px;
  color: #fff;
  display: flex;
  font-size: 15px;
  align-items: center;
  padding: 0.5rem 1rem;
  font-family: "Inter";
  border-left: 5px solid transparent;
}
.site-wrapper .sidebar .navbar .navbar-nav .nav-item .nav-link:hover {
  background: rgba(46, 144, 176, 0.15);
}
.site-wrapper .sidebar .navbar .navbar-nav .nav-item .nav-link.active {
  border-radius: 5px;
  border-left: 5px solid #2f90b0;
  background: rgba(46, 144, 176, 0.15);
}
.main-content {
  flex-grow: 1;
}
.footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-around;
  background: rgba(251, 251, 251, 1);
}
#copyright {
  margin: 0px;
  color: gray;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: "Inter";
}
.footer-icons a {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .site-wrapper {
    flex-wrap: wrap;
    min-height: inherit;
  }
  .site-wrapper .sidebar {
    width: 100%;
  }
  .site-wrapper .sidebar .navbar {
    flex-direction: row !important;
  }
  .site-wrapper .sidebar .navbar .navbar-brand {
    margin: 0;
  }
  .site-wrapper .sidebar .navbar .navbar-toggler img {
    width: 50px;
    height: 50px;
  }
  .main-content {
    margin-top: 10px;
  }
}
